@model IEnumerable<Appointment>

<a class="btn btn-success" asp-area="Management"
   asp-controller="Appointment"
   asp-action="Create">Ekle</a>

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Randevular</h4>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th scope="col">Hasta</th>
                        <th scope="col">Doktor</th>
                        <th scope="col">Departman</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Durum</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Patient.FirstName
                            @item.Patient.LastName</td>
                            
                            <td>@item.Doctor.FirstName
                            @item.Doctor.LastName</td>
                            
                            <td>@item.Doctor.Department.Title</td>
                            <td>@item.DateTime</td>
                            <td>
                                @if (item.Status)
                                {
                                    <span>Aktif</span>
                                }
                                else
                                {
                                    <span>Pasif</span>
                                }
                            </td>
                            <td>

                                <a class="btn btn-primary" asp-area="Management"
                               asp-controller="Doctor" asp-action="Details"
                               asp-route-id="@item.Id">Detay</a>

                                <a class="btn btn-primary" asp-area="Management"
                               asp-controller="Doctor" asp-action="Edit"
                               asp-route-id="@item.Id">Düzenle</a>

                                <a class="btn btn-danger"
                               asp-area="Management"
                               asp-controller="Doctor"
                               asp-action="Delete"
                               asp-route-id="@item.Id">Sil</a>

                                @*  <a class="btn btn-danger"
                            href="Management/Trainer/Delete/@item.Id">Sil</a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>